<!-- <footer class="footer mt-5 mt-md-1"> -->
<footer class="d-flex justify-content-between">
		<div class="d-flex flex-md-fill justify-content-md-start">
			<div class="text-muted ms-2">
				<a href="javascript:modalFormOptions();" class="btn btn-sm btn-info " title="Form Ayarları"	style="font-size: 11px!important; height: 22px; padding: 2px;"><i class="fas fa-cogs"></i> Form Ayarları</a>
			</div>
			<div class="text-muted mt-1 mx-3">&copy; <%- (new Date()).getFullYear() %> Ritalin <span id="innerWidth" class="ms-2 text-dark bold"></span></div>
		</div>
		<div class="d-md-flex text-primary mt-1 ms-2 justify-content-end text-end">
			<div class="mx-3" title="status">
				status:<%- config.status || '' %>
			</div>
			<div class="mx-3" title="Aktif kullanıcı">
				<i class="fas fa-user mt-1 me-1"></i> <%- session.username %>
			</div>
			<div id="dbLabel" class="mx-3" title="Aktif veri ambarı">
				<i class="fas fa-database mt-1 me-1" title="dbId: <%- dbId %>"></i> <%- session.dbName %>
			</div>
		</div>
</footer>
<script type="text/javascript">
	document.querySelector('#innerWidth').innerHTML=`${window.innerWidth}px x ${window.innerHeight}px`
</script>
