<!DOCTYPE html>
<html lang="tr">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>GanyGO</title>
	<link rel="icon" href="<%- assetVersion('/img/web-icon.png') %>" type="image/png">
	<link rel="stylesheet" type="text/css" href="/vendor/css/fontawesome.v5.8.2.min.css">
	<link rel="stylesheet" type="text/css" href="/vendor/css/ganyfonts.css">
	<link rel="stylesheet" type="text/css" href="/vendor/css/jquery-ui.v1.12.1.min.css">
	<script type="text/javascript" src="/vendor/js/jquery.v3.4.1.min.js"></script>
	<script type="text/javascript" src="/vendor/js/jquery-ui.v1.12.1.min.js"></script>
	<link href="/vendor/css/js-snackbar.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/vendor/js/js-snackbar.js"></script>
	<script type="text/javascript" src="/vendor/js/moment-2.29.1.min.js"></script>
	<script type="text/javascript" src="/vendor/js/socket.io.min.js"></script>
	<script type="text/javascript" src="<%- assetVersion('/vendor/js/FileSaver.js') %>"></script>
	<script type="text/javascript" src="<%- assetVersion('/hahamjs/dbtypes.js') %>"></script>
	<script type="text/javascript" src="<%- assetVersion('/hahamjs/utils.js') %>"></script>
	<script type="text/javascript" src="<%- assetVersion('/hahamjs/modals.js') %>"></script>
	<script type="text/javascript" src="<%- assetVersion('/hahamjs/helper.js') %>"></script>
	<script type="text/javascript" src="<%- assetVersion('/hahamjs/form-elements.js') %>"></script>
	<script type="text/javascript" src="<%- assetVersion('/hahamjs/grid-elements.js') %>"></script>
	<script type="text/javascript" src="<%- assetVersion('/hahamjs/haham.js') %>"></script>
	<link href="<%- assetVersion('/css/main.css') %>" rel="stylesheet" type="text/css" />
</head>


<body id="page-top">
	<%- body %>
	<script type="text/javascript" src="/vendor/js/bootstrap.bundle.v5.1.0.min.js"></script>
	<script type="text/javascript" src="<%- assetVersion('/js/scripts.js') %>"></script>
</body>

</html>